meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Formalizaci칩n y legalizaci칩n de una EAT
meta(meta name="description" content="Este componente formativo brinda informaci칩n de principios, elementos y la forma de constituir una EAT, los pasos para legalizarla ante C치mara de Comercio, Ministerio de Trabajo, seguridad social y todas las instancias controladoras y reguladoras.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")